body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 250px;
    background: #333;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(2, 183, 254);
    color: white;
    cursor: pointer;
}

.cancel-btn {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
